:root {
	/* Set up custom properties from Figma */
	--white: hsl(0, 0%, 100%);
	--slate-300: hsl(212, 45%, 89%);
	--slate-500: hsl(216, 15%, 48%);
	--slate-900: hsl(218, 44%, 22%);

	/* 15px with default browser settings */
	--preset-1-font-size: 0.938rem;
	/* 20px with default browser settings. A tiny bit smaller than the figma file to match the design more closely in the browser. */
	--preset-2-font-size: 1.25rem;

	--preset-1-font-weight: 400;
	--preset-2-font-weight: 900;

	--preset-1-line-height: 120%;
	--preset-2-line-height: 140%;

	--spacing-500: 40px;
	--spacing-300: 24px;
	--spacing-200: 16px;
}

body {
	background-color: var(--slate-300);
	font-family: 'Outfit', system-ui, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: var(--spacing-200);
}

.font-preset-1 {
	font-size: var(--preset-1-font-size);
	font-weight: var(--preset-1-font-weight);
	line-height: var(--preset-1-line-height);
	color: var(--slate-500);
}

.font-preset-2 {
	font-size: var(--preset-2-font-size);
	font-weight: var(--preset-2-font-weight);
	line-height: var(--preset-2-line-height);
	color: var(--slate-900);
}

.qr-container {
	background-color: var(--white);
	border-radius: 20px;
	padding: var(--spacing-200);
	padding-bottom: var(--spacing-300);
	text-align: center;
	display: flex;
	flex-direction: column;
	width: min-content;

	.font-preset-1,
	.font-preset-2 {
		margin-inline: var(--spacing-200);
	}
}

.qr-code {
	width: 288px;

	img {
		border-radius: 10px;
	}
}